@model BookCave.Models.ViewModels.OrderDetailsViewModel

<div class="borderClass cartClass">
<h1>Current items in cart</h2>
<ul>
    @foreach(var b in Model.BooksInOrder)
       {
        <li>
          <p class="book-image"><a asp-controller="Book" asp-action="Details" asp-route-id="@b.BookId"><img src="@b.CoverImage" alt="book image" height="300" width="210"></a>
          <a asp-controller="Book" asp-action="Details" asp-route-id="@b.BookId">@b.Title</a>
          @b.Price
          <form asp-controller="Order" method="POST" asp-action="Delete">
            <input type="hidden" name="ISBN" value="@b.Id"><br>
            <button class="btn" type="submit">Delete</button>
          </form>
        </li>
      }

<a asp-controller="Order" asp-action="Shipping">
    <button class="btn" type="submit">Process order</button>
    </a>
    <button class="btn" type="back"><a asp-action="FrontPage" asp-controller="Home">Back</a></button>
</div>