@model BookCave.Models.ViewModels.ProcessOrderViewModel
<!-- Model sem รก aรฐ nota er  -->

@{
    ViewData["Title"] = "Review Order -";
}

<h2>Reviewing your order</h2>
<div>
<h3>Books</h3>
@foreach(var books in Model.Books)
{
    @books.Title
    @books.CoverImage
    @books.Price
    @books.Quantity
}
@Model.TotalPrice
</div>
<div>
<h2>Shipping Information</h2>
@Model.FullName
@Model.Country
@Model.City
@Model.Adress
@Model.PhoneNumber
</div>
<div>

<h2>Billing information</h2>
@Model.BillingName
@Model.BillingCountry
@Model.Zip
@Model.PaymentMethod

Card number: xxxx-xxxx-xxxx
</div>
<a asp-action="Buy" asp-controller="Order"><button class="btn" id="orderbutton">Buy</button></a>