@model List<BookCave.Models.ViewModels.BookViewModel>

<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookCave</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/base.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
  </head>
  <body class="background">
    <div class="content">
      <table class="nytt">
        <tr>
          <th id="littleBit2">New Releases</th>
        </tr>
        <tr id="newBooks">
        @foreach(var b in Model)
        {
          <td>@b.CoverImage</td>
          <td><a asp-controller="Book" asp-action="Details" asp-route-id="@b.Id" >@b.Title</a></td>
          <td>@b.Price</td>
        }
        </tr>
      
      </table>
      <table class="topRated">
        <tr>
          <th>Top Rated Books</th>
        </tr>
        <tr id="ratedBooks1">
        @foreach(var b in Model)
        {
          <td>@b.CoverImage</td>
          <td><a asp-controller="Book" asp-action="Details" asp-route-id="@b.Id" >@b.Title</a></td>
          <td>@b.Price</td>
        }
        </tr>
        <tr id="ratedBooks2">

        @foreach(var b in Model)
        {
          <td>@b.CoverImage</td>
          <td><a asp-controller="Book" asp-action="Details" asp-route-id="@b.Id" >@b.Title</a></td>
          <td>@b.Price</td>
        }
        </tr>
      </table>
      <table class="topRated">
        <tr>
          <th id="littleBit">Top Sellers</th>
        </tr>
        <tr id="sellOut1">
        @foreach(var b in Model)
        {
          <td>@b.CoverImage</td>
          <td><a asp-controller="Book" asp-action="Details" asp-route-id="@b.Id" >@b.Title</a></td>
          <td>@b.Price</td>
        }
        </tr>
        <tr id="sellOut2">
        @foreach(var b in Model)
        {
          <td>@b.CoverImage</td>
          <td><a asp-controller="Book" asp-action="Details" asp-route-id="@b.Id" >@b.Title</a></td>
          <td>@b.Price</td>
        }
        </tr>
      </table>
    </div>
  </body>
</html>