@model BookCave.Models.ViewModels.BookDetailsViewModel

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

<!-- Þarf að útfæra klasa og virkni hér -->
@{
    var id = Model.Id;
}
    <body class="background">
    <div>
    <div id="head-details" class="borderClass fitting">
        <div id="imageFloat">
            <h1>@Model.Title</h2>
            <p class="book-details-image"><img src="@Model.CoverImage" alt="Book Image" height="400" width="auto"></p>
        </div>
        <div id="description">
            <h3>Author: <a href="#">@Model.Author</a> </h3>
            <h3>Realase year: @Model.PublishingYear</h3>
            <h3>Genre: @Model.Genre</h3>
            <h3>Discritption: @Model.Description</h3>
            <h3>Rating: @Model.Rating</h3>
            <h3>Formats: @Model.Formats</h3> <!--öðruvísi format-->
            <h3>AudioSample: @Model.AudioSample</h3>
            <h3>Price: $@Model.Price</h3>
            <form asp-action="AddToCart" asp-controller="Order">
                <input type="hidden" name="bookAdded" value="@id">
                <button class="btn btn-default glyphicon glyphicon-shopping-cart">Add to Cart</button>
            </form>
        </div>
    </div>
    
    <div id="reviewPart">
        @if(SignInManager.IsSignedIn(User))
        {
            <!-- Ef notandi er skráður inn getur hann sett inn sitt review -->
            <div id="review-form">
                <form asp-action="Create" asp-controller="Review">
                    <div class="form-group">
                        <label for="Rating">Rating: </label>
                        <input type="radio" asp-for="Rating" value="1">1
                        <input type="radio" asp-for="Rating" value="2">2
                        <input type="radio" asp-for="Rating" value="3">3
                        <input type="radio" asp-for="Rating" value="4">4
                        <input type="radio" asp-for="Rating" value="5">5
                    </div>
                    <div id="textPart" class="form-group">
                        <textarea class="form-control" rows="5" placeholder="enter your review here"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn" type="submit">Submit review</button>
                    </div>
                </form>
            </div>
        }
<!-- TODO: Bæta við Review einhverstaðar fyrir þessa bók -->

        <div id="BookReviews">
            <h2>Reviews</h2>
            <ul class="list-inline">
                @foreach(var b in Model.Reviews)
                {
                    <li>   
                        <p>@b.Rating</p>
                        <p>@b.ActualReview</p>
                    </li>
                } 
            </ul>
        </div>
    </div>
    </div>
</body>