@model BookCave.Models.ViewModels.BookViewModel

<h2>@Model.Title</h2>
<img src="@Model.CoverImage" alt="Book Image">
<p>@Model.Author</p>
<p>@Model.PublishingYear</p>
<p>@Model.Genre</p>
<p>@Model.Description</p>
<p>@Model.Formats</p>
<p>@Model.AudioSample</p>
<p>@Model.Price</p>