@model BookCave.Models.ViewModels.BookDetailsViewModel

<!-- Þarf að útfæra klasa og virkni hér -->

<h2>@Model.Title</h2>
<p class="book-details-image"><img src="@Model.CoverImage" alt="Book Image"></p>
<p><a href="#">@Model.Author</a></p>
<p>@Model.PublishingYear</p>
<p>@Model.Genre</p>
<p>@Model.Description</p>
<p>@Model.Formats</p> <!--öðruvísi format-->
<p>@Model.AudioSample</p>
<p>@Model.Price</p>
<button class="btn cart">Add to Cart</button>

<!-- Ef notandi er skráður inn getur hann sett inn sitt review -->
<div id="review-form">
    <form asp-action="Create" asp-controller="Review">
        <div class="form-group">
            <label for="Rating">Rating: </label>
            <input type="radio" asp-for="Rating" value="1">1
            <input type="radio" asp-for="Rating" value="2">2
            <input type="radio" asp-for="Rating" value="3">3
            <input type="radio" asp-for="Rating" value="4">4
            <input type="radio" asp-for="Rating" value="5">5
        </div>
        <div class="form-group">
            <textarea  placeholder="enter your review here"></textarea>
        </div>
        <div class="form-group">
            <button type="submit">Submit review</button>
        </div>
    </form>
</div>

<!-- TODO Bæta við Review einhverstaðar fyrir þessa bók -->

<div id="BookReviews">
<h2>Reviews</h2>
<ul class="list-inline"></ul>
@foreach(var b in Model.Reviews)
{
    <li>   
    <p>@b.Rating</p>
    <p>@b.ActualReview</p>
    </li>
} 
</div>