@model BookCave.Models.ViewModels.BookDetailsViewModel

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager


@{
    var id = Model.Id;
}

<div >
    <div id="head-details" class="borderClass fitting">
        <div id="imageFloat">
            <h1>@Model.Title</h1>
            <p class="book-details-image"><img src="@Model.CoverImage" alt="Book Image" height="400" width="auto"></p>
        </div>
        <div id="description">
            <h3>Author: <a href="#">@Model.Author</a> </h3>
            <h3>Realase year: @Model.PublishingYear</h3>
            <h3>Genre: @Model.Genre</h3>
            <h3>Description: @Model.Description</h3>
            <h3>Rating: @Model.Rating</h3>
            <h3>Formats: @Model.Formats</h3> <!--öðruvísi format-->
            <h3>AudioSample: @Model.AudioSample</h3>
            <h3>Price: $@Model.Price</h3>
            <form asp-action="AddToCart" asp-controller="Order">
                <input type="hidden" name="bookAdded" value="@id">
                <button class="btn">Add to Cart</button>
                <button class="btn" type="back"><a asp-action="FrontPage" asp-controller="Home">Back</a></button>
            </form>
        </div>
    </div>
    
    <div>
        @if(SignInManager.IsSignedIn(User))
        {

            <!-- Ef notandi er skráður inn getur hann sett inn sitt review -->
            <div> 
                <form class="reviewClass" >
                    <div class="form-group">
                        <label for="Rating">Rating: </label>
                        <input type="radio" asp-for="Rating" value="1">1
                        <input type="radio" asp-for="Rating" value="2">2
                        <input type="radio" asp-for="Rating" value="3">3
                        <input type="radio" asp-for="Rating" value="4">4
                        <input type="radio" asp-for="Rating" value="5">5
                    </div>
                    <div  class="form-group">
                        <textarea id="textPart" class="form-control" rows="5" placeholder="enter your review here"></textarea>
                    </div>
                    <div> <!--Sendir gögn um bók og notanda-->
                        <input id="BookId" type="hidden" value="@Model.Id">
                    </div>
                    <div class="form-group">
                        <button type="button" id="postReview" class="btn" >Submit review</button>
                    </div>
                </form>
            </div>
        }
<!-- TODO: Bæta við Review einhverstaðar fyrir þessa bók -->

        <div class="bookReviews borderClass">
            <h2>Reviews</h2>
            <ul id="insertNewReview">
                @foreach(var b in Model.Reviews)
                {
                    @if(b.ActualReview != null)
                    {
                        <li class="list-inline">   
                        <h2>Rating: @b.Rating</h2>
                        <h2>Review description: @b.ActualReview</h2>
                        </li><br>
                    }
                    
                    
                } 
            </ul>
        </div>
    </div>
</div>
