@model BookCave.Models.ViewModels.BookViewModel

<!-- Þarf að útfæra klasa og virkni hér -->

<h2>@Model.Title</h2>
<p class="book-details-image"><img src="@Model.CoverImage" alt="Book Image"></p>
<p><a href="#">@Model.Author</a></p>
<p>@Model.PublishingYear</p>
<p>@Model.Genre</p>
<p>@Model.Description</p>
<p>@Model.Formats</p> <!--öðruvísi format-->
<p>@Model.AudioSample</p>
<p>@Model.Price</p>
<button class="btn cart">Add to Cart</button>

<!-- TODO Bæta við Review einhverstaðar fyrir þessa bók -->
<!--
<div>
@foreach(var b in Model)
{
    <h2>Review</h2>
    <p>@b.Rating</p>
    <p>@b.Review</p>
} 
</div>-->