@model List<BookCave.Models.ViewModels.BookViewModel>
@{
    ViewData["Title"] = "Top 10 -";
}
<h1 class="filterHead">Top 10</h1>
    <div class="searchItem Moving2 borderClass">
        @foreach (var books in Model)
        {
            <li> 
                <p class="book-image"><a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id"><img src="@books.CoverImage" alt="book image" height="350" width="auto"></a><br>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@books.Id"><strong>@books.Title</strong></a><br>
                Price: $@books.Price<br>
                Ratings: @books.Rating</p>
                <form asp-action="AddToCart" asp-controller="Order">
                <input type="hidden" name="bookAdded" value="@books.Id">
                <button class="btn btn-default ">Add to Cart</button>
                </form>
            </li>
        }
    </div>